body {
 color: black;
 background-image: url(background.png);
 background-position: top;
}

.inf {
background-image: url(background2.png);
}
.goods{
background-image: url(background3.png);
}

}
h1 {
 text-align: center;
}

.border {
 border: 2px solid black;
}

back_{
position: absolute;
bottom: 10px;
left: 10px;
}

login_bt{
position: absolute;
top: 2px;
right: 10px;
}

div{
margin: auto;
width:220px;
height:250px;
}

.btn{
display: inline-block;
  vertical-align: top;
  border: 1px solid black;
  position:relative;
    left:37%;
  background-color: black;
  color: white;
}

a{
text-decoration: none;
}

#1{
position:relative;
}