body {
 color: black;
 background-image: url(background.png);
 background-position: top;
}

.inf {
background-image: url(background2.png);
}
.goods{
background-image: url(background3.png);
}

}
h1 {
 text-align: center;
}

.border {
 border: 2px solid black;
}

back_{
position: absolute;
bottom: 10px;
}
