body {
 color: black;
 background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1613641741_79-p-fon-dlya-prezentatsii-trava-108.jpg);
 background-position: bottom;
}
h1 {
 text-align: center;
}

.border {
 border: 2px solid black;
}

