{% extends "base.html" %}
{% block content %}

<body>
<h2 class=”border”>Арбуз – всенародно любимое сезонное лакомство, которого с нетерпением ожидают дети и взрослые. Эта бахчевая культура необыкновенно вкусна и превосходно утоляет жажду – идеальная еда для летней поры. Огородникам предлагается около 1200 сортов арбузов. Их выращивают в 96 странах мира, и Россия – в ряду крупнейших сельхозпроизводителей арбузов – годовой урожай составляет около миллиона тонн. Познакомимся с наиболее популярными сортами арбузов.</h2>
<h2>
<ul>
 <li><a href="/good/Astr">Астраханский арбуз</a></li>
 <li><a href="/good/Borch">Борчанский арбуз</a></li>
 <li><a href="/good/Krims">Кримсон Свит</a></li>
</ul></h2>
</body>{% endblock %}
